.game_img01 {
    background: url(images/smashbros_clipping.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(0, 0, 0);
    background-position: 0px 80px ;
  }
  
  .game_img02 {
    background: url(images/minecraft_clipping.png);
    background-repeat: no-repeat;
    background-size: 109%;
    background-color: rgb(0, 0, 0);
  }
  
  .game_img03 {
    background: url(images/mariokart_clipping.png);
    background-repeat: no-repeat;
    background-size: 79%;
    background-color: rgb(0, 0, 0);
    background-position: 254px 227px ;
  }