body {
  background-image: url(images/carbon022-768x576.jpg);
  background-size: 20%;
  background-position: center;
  background-repeat: repeat;
  margin: 0;
  margin-top: 90px;
}

.unit_title {
  display: flex;
  justify-content: center;
  font-size: 70px;
  color: #ffffff;
  margin-bottom: 0px;
  padding-bottom: 25px;
  margin-top: 30px;
}

.unit_title:hover {
  color: rgb(99, 99, 99);
}

.cp_common {
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 20px 0 0 0;
  /* margin-bottom: 190px; */
}

.title {
  display: flex;
  justify-content: center;
  font-size: 150px;
  color: #ffffff;
}

.title:hover {
  color: rgb(99, 99, 99);
}

.profile {
  color: #ffffff;
  font-size: 20px;
  background-image: url(images/kuchikomi819_TP_V.webp);
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 780px;
  width: 1200px;
  background-size: 100%;
  margin: 0 auto;
  margin-bottom: 130px;
  /* magin bottom など */
}


.my_name {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 88px;
  margin-right: 470px;
  margin-top: 0px;
  padding-top: 120px;
}

.self_introduction_item {
  margin-top: 60px;
  color: black;
  font-size: 27px;
  margin-left: 95px;
  font-weight: bold;
}

.item{
  margin-bottom: 10px;
}

.first_li {
  list-style-type: disc;
}

.position_li {
  padding-left: 50px;
}

.tab {
    max-width: 1200px;
    max-height: 740px;
    margin: 0 auto;
    margin-bottom: 120px;
    /* margin-top: 270px; */
  }
  
  /* タブメニュー */
.tab_menu {
  display: flex;
  align-items: flex-end; /* メニューを下揃え */
  justify-content: center;
  min-height: 50px; /* メニュー切替時にタブがズレないように */
  padding: 0;
  margin: 0;
  font-size: 25px;
  white-space: nowrap;
}

.tab_menu_item {
  list-style: none;
  width: 270px;
  padding: 20px 55px; /* メニューに高さを付ける */
  text-align: center;
  display: flex;
  justify-content: center;
  margin-right: 6px;
  background-color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  transition: all .3s; /* アニメーション */
}

.tab_menu_item:last-of-type {
  margin-right: 0px;
}

/* is-activeがついている時のスタイル */
.tab_menu_item.is_active {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  padding: 30px 135px;
}

/* タブパネル */
.tab_panel {
  width: 100%;
  font-size: 20px;
}

.tab_panel_box {
  min-height: 620px;
  padding: 10px 30px;
  border-radius: 10px;
}

.tab_panel_text {
  font-size: 30px;
  margin-top: 0px;
  text-shadow: 5px 1px 2px rgb(2, 2, 2), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
  background-color: rgba(255,255,255,0.4);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tab_panel_box001 {
  display: none;
  color: #ffffff;
}

.tab_panel_box002 {
  display: none;
  color: #ffffff;
}

.tab_panel_box003 {
  display: none;
  color: #ffffff;
}

.game_img01 {
  background: url(images/スクリーンショット\ 2023-11-07\ 204958.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgb(0, 0, 0);
  background-position: 0px 80px ;
}

.game_img02 {
  background: url(images/スクリーンショット\ 2023-11-07\ 204823.png);
  background-repeat: no-repeat;
  background-size: 109%;
  background-color: rgb(0, 0, 0);
}

.game_img03 {
  background: url(images/maxresdefault.png);
  background-repeat: no-repeat;
  background-size: 79%;
  background-color: rgb(0, 0, 0);
  background-position: 254px 227px ;
}

.gourmet_img01 {
  background: url(images/S__20529167_0.png), url(images/640x640_rect_116047180.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 47%, 60%;
  background-color: black;
  background-position: 617px 285px, 0px 238px;
}

.gourmet_img02 {
  background: url(images/dodeka_nboshi_900.png), url(images/A00000114.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 52%, 60%;
  background-color: black;
  background-position: 580px 170px, -38px 247px;
}

.gourmet_img03 {
  background: url(images/S__20529167_0.png), url(images/640x640_rect_160432786.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 75%, 48%;
  background-color: black;
  background-position: 445px 42px, 0px 348px;
}

/* is-showがついている時のスタイル */
.tab_panel_box.is_show {
  display: block;
}

.subtitle {
  font-size: 50px;
  margin-bottom: 0px;
  margin-top: 10px;
}

/*アニメーション*/

.js_text_anime span {
  opacity: 0;
  transition: 1.5s;
}