.profile {
    color: #ffffff;
    font-size: 20px;
    background-image: url(images/profile.webp);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 780px;
    width: 1200px;
    background-size: 100%;
    margin: 0 auto;
    margin-bottom: 130px;
}


.my_name {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 88px;
    margin-right: 470px;
    margin-top: 0px;
    padding-top: 120px;
}

.self_introduction_item {
    margin-top: 60px;
    color: black;
    font-size: 27px;
    margin-left: 95px;
    font-weight: bold;
}

.item{
    margin-bottom: 10px;
}
  
.first_li {
    list-style-type: disc;
}
  
.position_li {
    padding-left: 50px;
}