.profile {
    color: #ffffff;
    font-size: 20px;
    background-image: url(images/profile.webp);
    background-position: center;
    background-repeat: no-repeat;
<<<<<<< HEAD
    border-radius: 10px;
=======
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
>>>>>>> e653add2f4c29e21b9acb6da70d0845265c6d4f1
    height: 780px;
    width: 1200px;
    background-size: 100%;
    margin: 0 auto;
    margin-bottom: 130px;
<<<<<<< HEAD
=======
    /* magin bottom など */
>>>>>>> e653add2f4c29e21b9acb6da70d0845265c6d4f1
}


.my_name {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 88px;
    margin-right: 470px;
    margin-top: 0px;
    padding-top: 120px;
}

.self_introduction_item {
    margin-top: 60px;
    color: black;
    font-size: 27px;
    margin-left: 95px;
    font-weight: bold;
}

.item{
    margin-bottom: 10px;
<<<<<<< HEAD
}
  
.first_li {
    list-style-type: disc;
}
  
.position_li {
    padding-left: 50px;
}
=======
  }
  
  .first_li {
    list-style-type: disc;
  }
  
  .position_li {
    padding-left: 50px;
  }
>>>>>>> e653add2f4c29e21b9acb6da70d0845265c6d4f1
