.gourmet_img01 {
    background: url(images/shinsen_ramen_clipping.png), url(images/shinsen_store_clipping.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 80%, 60%;
    background-color: black;
    background-position: 470px 0px, 0px 238px;
  }
  
  .gourmet_img02 {
    background: url(images/yoshimune_ramen_clipping.png), url(images/yoshimune_store_clipping.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 65%, 60%;
    background-color: black;
    background-position: 510px 10px, -38px 247px;
  }
  
  .gourmet_img03 {
    background: url(images/korarenka_ramen_clipping.png), url(images/korarenka_store_clipping.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 75%, 48%;
    background-color: black;
    background-position: 445px 42px, 0px 348px;
  }
  